requests
selenium
ipykernel
unstructured[all]
pdfminer.six
pi_heif
unstructured_inference
pdf2image
unstructured_pytesseract
pillow
python-magic-bin
#python-magic==0.4.15
transformers
torch
accelerate
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
sentence-transformers
hf_xet
rank_bm25
tiktoken
streamlit
ragas